@(message: String)
@main("Home") {
  <section id="news">
    <h1>Latest News <i class="fa fa-newspaper-o fa-lg"></i></h1>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Captains and Co-Captains Meeting</h2>
      <p>
        The next captain meeting is on October 11th due to a schedule conflict. It is at the American Legion in Peotone at 7:30pm.</p>
      <p>This is the final date to get your team into the league for this season: Roster Sheet</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Noobs learning to play darts</h2>
      <p>Come out next week to see some noobs play darts!</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
    <article>
      <h2><i class="fa fa-bullseye fa-lg"></i>Keeping Stats</h2>
      <p>
        Your summary sheets should include everyone's first and last name. There have been several mismatches in the stats entries due to teams entering the wrong names. Please also make sure the white copy makes it into the money envelope so we have the best chance of interpreting the errors.
        There are also teams not entering their summary sheet online, please make sure you do so by Friday night. Thank you.</p>
    </article>
  </section>

}
